
#home-page {
	text-align: center;
}

#logo {
	display: inline-block;
	margin-left: 85px;
	margin-bottom: 20px;
}

#logo p {
	font-size: 60px;
	margin-top: 40px;
	font-weight: bold;
	text-shadow: 3px 3px #686666;
	letter-spacing: 3px;
}

#media-icons {
	vertical-align: middle;
	float: right;
	margin-top: 58px;
}

#media-icons a {
	color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    display: inline;
}

.video {
	position:relative;
	max-height: 80%;
	margin: 10px auto 100px auto;
}
.video img.ratio {
	display: block;
	width: 100%;
	height: auto;
	opacity: 0;
}
.video iframe {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#language {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
}
.donation {
	margin-top: 10px;
	display: inline-block;
	vertical-align: middle;
}
#bitcoin {
	border: 0;
	display: block;
}
.loading {
	font-size: 50px;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}