
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-sina-weibo:before { content: '\e801'; } /* '' */
.icon-renren:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-youku:before { content: '\e804'; } /* '' */
.icon-spin6:before { content: '\e805'; } /* '' */