<script data-main="js/fsn/plugin" src="js/fsn/require-jquery.js"></script>
<header>
  
  <div class="bar-body">
    <div class="menu">
      <nav data-menu="section:all;level:1"></nav>
      <div class="clear"></div>
    </div>
  </div>
  
</header>

<section data-title="主页" id="home">

</section>

<section data-title="成员" id="members">

</section>

<section data-title="视频" id="videos"> 

</section>

<section data-title="关于" id="aboutCN">

</section>

<section data-title="联系我们" id="contactCN">

</section>

<footer>
  
  <div class="footer-body">
    <p>Made by David Lu - Copyright © 2013-2014, Calculasian | https://github.com/dayal/Calculasian</p>
  </div>

</footer>