<article data-link="contact" data-background="#197883" id="contact-page">
    <h1>Contact Us</h1>
    <p>Email: <a href=mailto:"Calculasian@gmail.com">Calculasian@gmail.com</a></p>
    <p>Facebook: <a href="http://facebook.com/calculasian2013">http://facebook.com/calculasian2013</a></p>
    <p>Youtube: <a href="http://youtube.com/user/calculasianofficial">http://youtube.com/user/calculasianofficial</a></p>
    <p>Twitter: <a href="http://twitter.com/Calculasian">http://twitter.com/Calculasian</a></p>
    <p>Instagram: <a href="http://instagram.com/calculasian">http://instagram.com/calculasian</a></p>
    <p>Weibo: <a href="http://weibo.com/calculasian">http://weibo.com/calculasian</a></p>
    <p>Youku: <a href="http://u.youku.com/Calculasian">http://u.youku.com/Calculasian</a></p>
    <p>Renren: <a href="http://page.renren.com/601850872">http://page.renren.com/601850872</a></p>
    <p>Xiami: <a href="http://i.xiami.com/calculasian">http://i.xiami.com/calculasian</a></p>
</article>