<link rel="stylesheet" type="text/css" href="css/calculasian.css" />
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/fontello/css/calculasian.css" />
<link rel="stylesheet" type="text/css" href="css/fontello/css/animation.css" />

<article id="home-page" data-title="Home" data-link="home" data-background="fullscreen:images/background.jpg">
  <div id="logo">
    <p>CALCULASIAN</p>
  </div>
  <div id="media-icons">
    <a class="icon-facebook" href="http://www.facebook.com/calculasian2013" target="_blank"></a>
    <a class="icon-sina-weibo" href="http://www.weibo.com/calculasian" target="_blank"></a>
    <a class="icon-youku" href="http://u.youku.com/Calculasian" target="_blank"></a>
    <a class="icon-youtube" href="http://www.youtube.com/user/calculasianofficial" target="_blank"></a>
  </div>
  <div id="language">
    <a href="cn.html">简</a>
    |
    <a href="index.html">EN</a>
  </div>
  <div class="loading icon-spin6 animate-spin"></div>
</article>